.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

section {
  display: flex;
  flex-direction: row;
  padding: 24px;
  justify-content: space-around;
}

input {
  width: 100%;
}
